<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/center/add" method="POST">
    姓名：<input type="text" name="name"><br>
    年龄：<input type="text" name="age"><br>
    特长：篮球<input type="checkbox" name="hobby" value="篮球">
    足球<input type="checkbox" name="hobby" value="足球">
    排球<input type="checkbox" name="hobby" value="排球">
    羽毛球<input type="checkbox" name="hobby" value="羽毛球"><br>

    <input type="submit" value="提交">

</form>
</body>
</html>